# Authentication Variables for Openstack
export OS_USERNAME="<username>"
export OS_PASSWORD="<password>"
export OS_PROJECT_NAME="pn-hyperledger"

export OS_IMAGE_SSH_KEY="/home/ubuntu/.ssh/default-image-key.pem"         # Path to ssh key on CLI host

# GO lang path for chaincode location. Tell caliper to not overwrite it
export GOPATH="$(pwd)/inventory/blockchain"
export OVERWRITE_GOPATH=false

# Environment Variables for k8s Cluster setup
export INVENTORY_DIR_PATH="$(pwd)/inventory"
