# Authentication Variables for Openstack
export OS_USERNAME="<username>"
export OS_PASSWORD="<password>"
export OS_IMAGE_SSH_KEY="/home/ubuntu/.ssh/i13.openstack.image.key.pem"

# Environment Variables for k8s Cluster setup
export INVENTORY_DIR_PATH="$(pwd)/inventory"
