apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: $namespace
  name: $podName
spec:
  selector:
    matchLabels:
        app: hyperledger
        role: orderer
        org: $namespace
        orderer-id: $ordererID
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        app: hyperledger
        role: orderer
        org: $namespace
        orderer-id: $ordererID
    spec:
      containers:
      - name: $podName
        image: {{ fabric_images['orderer'] }}
        env:
        - name: ORDERER_GENERAL_LOGLEVEL
          value: {{ fabric_orderer_loglevel }}
        - name: ORDERER_GENERAL_LISTENADDRESS
          value: 0.0.0.0
        - name: ORDERER_GENERAL_GENESISMETHOD
          value: file
        - name: ORDERER_GENERAL_GENESISFILE
          value: /var/hyperledger/orderer/orderer.genesis.block
        - name: ORDERER_GENERAL_LOCALMSPID
          value: $localMSPID
        - name: ORDERER_GENERAL_LOCALMSPDIR
          value: /var/hyperledger/orderer/msp
        - name: ORDERER_GENERAL_TLS_ENABLED
          value: "true"
        - name: ORDERER_GENERAL_TLS_PRIVATEKEY
          value: /var/hyperledger/orderer/tls/server.key
        - name: ORDERER_GENERAL_TLS_CERTIFICATE
          value: /var/hyperledger/orderer/tls/server.crt
        - name: ORDERER_GENERAL_TLS_ROOTCAS
          value: "/var/hyperledger/orderer/tls/ca.crt"
        workingDir: /opt/gopath/src/github.com/hyperledger/fabric/
        ports:
         - containerPort: 7050
        command: ["orderer"]
        volumeMounts:
         - mountPath: /var/hyperledger/orderer/msp 
           name: orderer-crypto-pv
           subPath: $mspPath
         - mountPath: /var/hyperledger/orderer/tls
           name: orderer-crypto-pv
           subPath: $tlsPath
         - mountPath: /var/hyperledger/orderer/orderer.genesis.block
           name: orderer-crypto-pv
           subPath: genesis.block
      volumes:
       - name: orderer-crypto-pv
         persistentVolumeClaim:
             claimName: $pvName
{% if k8s_image_pull_secret|length %}
      imagePullSecrets:
       - name: {{ k8s_image_pull_secret }}
{% endif %}

---
apiVersion: v1
kind: Service
metadata:
  name: $ordererID
  namespace: $namespace
spec:
 selector:
   app: hyperledger
   role: orderer
   orderer-id: $ordererID
   org: $namespace
 type: NodePort
 ports:
   - name: listen-endpoint
     protocol: TCP
     port: 7050
     targetPort: 7050
     nodePort: $nodePort
