apiVersion: v1
kind: PersistentVolume
metadata:
    name: $artifactsName
spec:
    capacity:
       storage: 500Mi
    accessModes:
       - ReadWriteMany
#    mountOptions:
#       - hard
#       - nfsvers=4.1
    nfs: 
      path: /opt/share/channel-artifacts
      server: {{ nfs_server_ip }}
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    namespace: $namespace
    name: $artifactsName
spec:
   accessModes:
     - ReadWriteMany
   resources:
      requests:
        storage: 10Mi

---
apiVersion: v1
kind: PersistentVolume
metadata:
    name: $cryptoName
spec:
    capacity:
       storage: 500Mi
    accessModes:
       - ReadWriteMany
#    mountOptions:
#       - hard
#       - nfsvers=4.1
    nfs:
      path: /opt/share/crypto-config
      server: {{ nfs_server_ip }}
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    namespace: $namespace
    name: $cryptoName
spec:
   accessModes:
     - ReadWriteMany
   resources:
      requests:
        storage: 10Mi

---

apiVersion: apps/v1
kind: Deployment
metadata:
   namespace: $namespace
   name: $name
spec:
  selector:
    matchLabels:
      app: cli
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
       app: cli
    spec:
      containers:
        - name: $name
          image:  {{ fabric_images['tools'] }}
          env:
          - name: CORE_PEER_TLS_ENABLED
            value: "true"
          - name: CORE_PEER_TLS_CERT_FILE
            value: /etc/hyperledger/fabric/crypto-config/peerOrganizations/$orgName/peers/peer0.$orgName/tls/server.crt
          - name: CORE_PEER_TLS_KEY_FILE
            value: /etc/hyperledger/fabric/crypto-config/peerOrganizations/$orgName/peers/peer0.$orgName/tls/server.key
          - name: CORE_PEER_TLS_ROOTCERT_FILE
            value: /etc/hyperledger/fabric/crypto-config/peerOrganizations/$orgName/peers/peer0.$orgName/tls/ca.crt
          - name: CORE_VM_ENDPOINT
            value: "tcp://localhost:2375"
          - name: GOPATH
            value: /opt/gopath
          - name: CORE_LOGGING_LEVEL
            value: {{ fabric_cli_loglevel }}
          - name: CORE_PEER_ID
            value: $name
          - name: CORE_PEER_ADDRESS
            value: $peerAddress
          - name: CORE_PEER_LOCALMSPID
            value: $mspid
          - name: CORE_PEER_MSPCONFIGPATH
            value: /etc/hyperledger/fabric/msp
          workingDir: /opt/gopath/src/github.com/hyperledger/fabric/peer
          command: [ "/bin/bash", "-c", "--" ]
          args: [ "while true; do sleep 30; done;" ]
          volumeMounts:
           - mountPath: /etc/hyperledger/fabric/msp
             name: org-crypto-pv
             subPath: $mspPath
           - mountPath: /opt/gopath/src/github.com/hyperledger/fabric/peer/channel-artifacts
             name: channel-artifacts
           - mountPath: /etc/hyperledger/fabric/crypto-config
             name: crypto-config
      volumes:
        - name: org-crypto-pv
          persistentVolumeClaim:
              claimName: $pvName
        - name: channel-artifacts
          persistentVolumeClaim:
              claimName: $artifactsName
        - name: crypto-config
          persistentVolumeClaim:
              claimName: $cryptoName

---